<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Questions</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">

    <!-- Custom styles for this template -->
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Questions</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">All Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ask.html">New question</a>
                    </li>
                </ul>

                <!-- Search-->
                <form class="d-flex me-5 me-auto">
                    <input type="hidden">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <!--                Placeholder-->
                <div class="me-auto"></div>

                <!-- Userblock authorized-->
                <div class="d-flex">
                    <img src="../static/img/common_avatar.png" alt="Avatar" width="70" height="70">

                    <div class="container">
                        <div class="row">
                            <!-- Name section -->
                            <div class="col"><span> CURRENT NAME </span></div>
                        </div>

                        <!-- Buttons -->
                        <div class="row mt-1">
                            <!-- Settings btn -->
                            <div class="col">
                                <form method="get" action="settings.html">
                                    <input type="hidden" id="SettingParams" name="SettingParams"
                                           value="current_usr_name">
                                    <button class="btn btn-outline-success" type="submit">Settings</button>
                                </form>
                            </div>

                            <!-- Log out btn -->
                            <div class="col">
                                <form method="get" action="#">
                                    <input type="hidden" id="LogOut" name="LogOut"
                                           value="yes">
                                    <button class="btn btn-outline-danger" type="submit">Log out</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                                

            </div>
        </div>


    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-9">
                PAGE DEPENDENT CONTENT
            </div>
            <div class="col-3">
                PAGE DEPENDENT SIDE MENU
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">GitHub: <a class="ps-3 pe-4" href="https://github.com/dunaitseva"> dunaitseva </a> (C) 2022</span>
    </div>
</footer>

</body>
</html>
