<div class="mt-4 mb-2 pb-3">
    <span class="fs-1 pe-2">New question</span>
    <span class="alert alert-danger"> Error message! </span>
</div>
<form class="w-75" method="get">
    <div class="input-group mb-3">
        <span class="input-group-text" id="Title">Title</span>
        <input type="text" class="form-control" placeholder="Question title here" aria-label="Title"
            aria-describedby="Title" name="title" required>
    </div>
    <div class="mb-3">
        <span class="input-group-text" id="Description">Description</span>
        <!-- <label for="questionDescription" class="form-label">Description</label> -->
        <textarea class="form-control" id="questionDescription" rows="3" name="description"
            maxlength="1000" required></textarea>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="Tags">Tags</span>
        <input type="text" class="form-control" placeholder="Tag1, Tag2, Tag3" aria-label="Tags"
            aria-describedby="Tags" name="tags">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3 ps-5 pe-5">ASK!</button>
    </div>
</form>