<div class="col-9">
    <!-- Title -->
    <div class="mt-4 mb-2">
        <span class="fs-2 pe-5">Settings: Name Surname</span>
    </div>

    <form class="w-75">
        <div class="mb-3">
            <label for="Login" class="form-label">Login</label>
            <input type="text" class="form-control" id="Login">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1"
                   placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="Nick" class="form-label">Nick name</label>
            <input type="text" class="form-control" id="Nick">
        </div>

        <div class="mb-3">
            <label for="Avatar" class="form-label">Avatar</label>
            <input class="form-control" type="file" id="Avatar">
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>

</div>