<div class="mt-4 mb-2">
    <span class="fs-2 pe-5">Register</span>
    <span class="alert alert-danger"> Error message! </span>
</div>

<form class="w-75">
    <div class="mb-3">
        <label for="Login" class="form-label">Login</label>
        <input type="text" class="form-control" id="Login">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1"
               placeholder="name@example.com">
    </div>

    <div class="mb-3">
        <label for="Nick" class="form-label">Nick name</label>
        <input type="text" class="form-control" id="Nick">
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password">
    </div>

    <div class="mb-3">
        <label for="Password" class="form-label">Repeat password</label>
        <input type="password" class="form-control" id="Password">
    </div>

    <div class="mb-3">
        <label for="Avatar" class="form-label">Avatar</label>
        <input class="form-control" type="file" id="Avatar">
    </div>

    <button type="submit" class="my-3 btn btn-primary">Register</button>
</form>